.wrapper > #title {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 30px;
}

body {
  width: 100%;
  height: 90%;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul#todo-list {
  text-align: justify;
  font-family: "Rubik", sans-serif;
  font-size: 29px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  line-height: 28px;
  width: 250px;
  list-style-type: square;
  list-style-position: inside;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

input#toDoItem {
  background-color: beige;
  border: #ffffff;
  color: rgb(35, 166, 213);
}

input#submitButton {
  color: rgb(231, 60, 136);
  background-color: lightgoldenrodyellow;
  
}
